#black {
  background-color: black;
  opacity: 0.75;
  width: 1118px;
  height: 480px;
}

#im{
  width: 315px;
  height: 315px;
  margin: auto;
  background-color: white;
  position: relative;
  left: 90px;
}

.plu {
  position: relative;
  top: 86px;
}

#fo {
  margin: auto;
  position: relative;
  line-height: 50px;
  width: 161px;
  height: 50px;
  font-size: 17px;
  text-align: center;
}

#te {
  margin-top: 46px;
  height: 190px;
  width: 515px;
}

#box {
  margin: auto;
  float: left;
  width: 500px;
  height: 480px;
}

#box1 {
  float: left;
  width: 330px;
  height: 380px;
}

#box2 {
  position: relative;
  right: 40px;
  margin: auto;
  float: right;
  width: 528px;
  height: 480px;
}

#box3 {
  position: relative;
  top: 33px;
  float: right;
  width: 104%;
  height: 380px;
}

input[type="file"]{

  color: white;
}

#bbt {
  position: relative;
  bottom: 10px;
  margin: auto;
  height: 20px;
  width: 300px;
}

#bbbt {
  position: relative;
  top: 10px;
  left: 4px;
  background-color: black;
  opacity: 0.75;
  border: 2px solid white;
  color: white;
  border-radius: 20px;
  text-align: center;
  height: 35px;
  width: 300px;
  outline: none;
}

.in {
  width: 300px;
}

.inl {
  width: 500px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid white;
  height: 50px;
  margin-bottom: 24px;
}