{% extends "Base/Base-Main.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'Main/main.css' %}">
<!-- content -->
<div class="content">
    <br>
    <!-- 최신글 -->
    <div class="latest">
        <div class="latest-orange">
            <span class="latest-font">최신글</span>
        </div>
    </div>
    <!-- 검색 -->
    <div class="search">
        <input type="" name="" placeholder="검색어를 입력해주세요" class="search-input">
        <img alt="돋보기" src="/media/Main/vector-smart-object.png">
    </div>
    <!-- 글 목록 -->
    <div class="card text-center mb-3 card-box">
        <!-- 글 왼쪽 -->
        <div class="card-body card-body-detail">
            <img alt="Brand" src="/media/Main/layer-31.png" class="card-body-img">
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
        <!-- 글 오른쪽 -->
        <div class="card-body card-body-detail">
            <!-- 해쉬태그 -->
            <div class="">
                <span class="card-body-hash">#그리움 #밤 #기다림 ...</span>
            </div>
            <p class="card-text card-body-font">마음속 깊은 곳에서 우러나오는 생각으로 일기다운 일기를 쓰는 아이들이 없지는 않다.  비웃는데에 대한 기쁨이라 .....</p>
            <div>
                <div class="card-body-left-icon">
                    <!-- 하트 -->
                    <img alt="" src="/media/Main/layer-16-copy.png" class="card-detail-hart"/>
                    <!-- 다운로드 -->
                    <img alt="" src="/media/Main/layer-17-copy.png" class="card-detail-save"/>                   
                </div>
                <!-- 디테일 -->
                <img alt="" src="/media/Main/group-1.png" class="card-detail-view"/>
            </div>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
    </div><!-- /.card-box-->
    <div class="card text-center mb-3 card-box">
        <!-- 글 왼쪽 -->
        <div class="card-body card-body-detail">
            <img alt="Brand" src="/media/Main/layer-31.png" class="card-body-img">
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
        <!-- 글 오른쪽 -->
        <div class="card-body card-body-detail">
            <!-- 해쉬태그 -->
            <div class="">
                <span class="card-body-hash">#그리움 #밤 #기다림 ...</span>
            </div>
            <p class="card-text card-body-font">마음속 깊은 곳에서 우러나오는 생각으로 일기다운 일기를 쓰는 아이들이 없지는 않다.  비웃는데에 대한 기쁨이라 .....</p>
            <div>
                <div class="card-body-left-icon">
                    <!-- 하트 -->
                    <img alt="" src="/media/Main/layer-16-copy.png" class="card-detail-hart"/>
                    <!-- 다운로드 -->
                    <img alt="" src="/media/Main/layer-17-copy.png" class="card-detail-save"/>                   
                </div>
                <!-- 디테일 -->
                <img alt="" src="/media/Main/group-1.png" class="card-detail-view"/>
            </div>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
    </div><!-- /.card-box-->
    <div class="card text-center mb-3 card-box">
        <!-- 글 왼쪽 -->
        <div class="card-body card-body-detail">
            <img alt="Brand" src="/media/Main/layer-31.png" class="card-body-img">
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
        <!-- 글 오른쪽 -->
        <div class="card-body card-body-detail">
            <!-- 해쉬태그 -->
            <div class="">
                <span class="card-body-hash">#그리움 #밤 #기다림 ...</span>
            </div>
            <p class="card-text card-body-font">마음속 깊은 곳에서 우러나오는 생각으로 일기다운 일기를 쓰는 아이들이 없지는 않다.  비웃는데에 대한 기쁨이라 .....</p>
            <div>
                <div class="card-body-left-icon">
                    <!-- 하트 -->
                    <img alt="" src="/media/Main/layer-16-copy.png" class="card-detail-hart"/>
                    <!-- 다운로드 -->
                    <img alt="" src="/media/Main/layer-17-copy.png" class="card-detail-save"/>                   
                </div>
                <!-- 디테일 -->
                <img alt="" src="/media/Main/group-1.png" class="card-detail-view"/>
            </div>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
    </div><!-- /.card-box-->
    <!-- 더보기 -->
    <div>
        <a href="#" class="btn btn-primary card-plus"><img alt="" src="/media/Main/cross.png" class="card-plus-img">더보기</a>
    </div>
</div><!-- /.content -->
{% endblock %}