{% extends "Base/Base.html" %}
{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'Create/css/style.css' %}">

    <div>
        <div id="post_create">
            <div>
            <h1>게시물 작성</h1>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="save btn btn-default" style="outline:none;">Save</button>
            </form>
            </div>
        </div>
    </div>
{% endblock %}





